.product_show {
  min-width: 17%;
  max-width: 17%;
  min-height: 35vh;
  max-height: 35vh;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(91, 81, 81, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1%;
  text-decoration: none;
}

.product_image {
  min-width: 100%;
  height: 50%;
  min-height: 50%;
}

.imagesmall {
  height: 120px;
  width: 200px;
}

.imagebig {
  height: 300px;
  width: 400px;
}

.imagepromotion_recommend{
  height: 200px;
  width: 250px;
}

.imagepromotion{
  height: 270px;
  width: 100%;
}

.product_text {
  width: 90%;
  height: 50%;
  min-height: 50%;
  margin: 0px;
  color: #282c34;
  font-size: small;
}

.promotionshow {
  min-width: 95%;
  height: 35vh;
  margin-top: 1%;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(91, 81, 81, 0.4);
}

.headershow {
  display: flex;
  min-width: 95%;
  height: 5vh;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 5px;
  color: #61dafb;
  font-weight: bold;
  font-size: 23px;
  align-items: center;
  border-bottom: #5f6166 solid 1px;
}

.productdetail_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 75vh;
  margin-top: 5%;
  margin-right: 5%;
  padding-left: 2%;
  box-shadow: 1px 1px 8px rgba(91, 81, 81, 0.4);
}

.productdetail_box_small {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  width: 90%;
  height: 19vh;
  margin-top: 5%;
  margin-right: 5%;
  padding-left: 2%;
  box-shadow: 1px 1px 8px rgba(91, 81, 81, 0.4);
}
